<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/js.js') }}" defer></script>
    
    <title>The World of Star Wars </title>

</head>

<body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <h1 class="navbar">Star Wars<small> universe planets</small></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% if username|length > 0 %}
                <li><h1><small>Logged in as </small><strong>{{ username }}</strong></h1></li>
                <li><a href="/logout/"><button type='button' class='btn btn-primary'>Logout</button></a></li>
            {% else %}
                    <li><a href="/login/"><button type='button' class='btn btn-primary'>Login</button></a></li>
                    <li><a href="/register/"><button type='button' class='btn btn-primary'>Register</button></a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>

    <div class="btn-group" >
        <button type="button" class="btn btn-primary disabled" disabled id="previous">Previous</button>
        <button type="button" class="btn btn-primary" id="next">Next page</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Diameter</th>
                <th>Climate</th>
                <th>Terrain</th>
                <th>Surface water</th>
                <th>Population</th>
                <th>Residents</th>
            </tr>
        </thead>
        <tbody id="planets">
        </tbody>
    </table>

    <div id="residentsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Height</th>
                                <th>Mass</th>
                                <th>Skin color</th>
                                <th>Hair color</th>
                                <th>Eye color</th>
                                <th>Birth year</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody id="residents">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal" >Close</button>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
