<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/js.js') }}" defer></script>
    
    <title>The World of Star Wars - Register</title>

</head>

<body>

    <div class="page-header">
        <h1>Register to Star Wars<small> universe planets</small></h1>
    </div>

    <div class="infomodal"  data-toggle="infomodal" data-target="#infomodal" role="dialog">
        {% if info %}
            <div id="infomodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4>Registraton successful!</h4>
                        </div>
                        <div class="modal-body text-center">
                            <a href="/login/" class="btn btn-info close-modal" role="button">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <form role="form" method="post" action="/register/">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="userame">Enter username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="username" value="{{username}}" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                        <label for="password">Confirm password</label>                
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="password" required>               
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <div class="alert alert-warning alert-dismissable" role="alert" >
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>{{ message }}!</strong>
                                        </div>                    
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
